{% extends 'main/base.html' %} {% block content %} {% load static %}
<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {% include 'home/backend_header.html' %}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {% include 'home/mobile_menu.html' %}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {% include 'home/backend_sidebar.html' %}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <!-- Container-fluid starts-->
    <div class="page-body">
      <!-- All Expenses Table Start -->
      <div class="container-fluid">
        <div class="row">
          <div class="list-container">
            <h2 class="list-header">Expense List</h2>
            <div class="list-subcontainer">
              <a href="{% url 'farm_finances:create_expense' %}" class="add-animal-link">
                <div>
                  <div class="add-animal-button">
                    <span>Add Expense</span>
                  </div>
                </div>
              </a>

              <i class="fas fa-filter filter-icon"></i>
              <form method="GET" action="{% url 'farm_finances:expense_list' %}" class="time-filter-form d-flex align-items-center" id="filterForm">
                <input type="hidden" name="sort_by" value="{{ sort_by }}" />
                <input type="hidden" name="sort_order" value="{{ sort_order }}" />

                <select name="time_filter" id="filter" class="filter-select" onchange="document.getElementById('filterForm').submit();">
                  <option value="all" {% if time_filter == 'all' %}selected{% endif %}>All</option>
                  <option value="last_7_days" {% if time_filter == 'last_7_days' %}selected{% endif %}>Last 7 days</option>
                  <option value="one_month" {% if time_filter == 'one_month' %}selected{% endif %}>One month</option>
                  <option value="three_months" {% if time_filter == 'three_months' %}selected{% endif %}>Three months</option>
                  <option value="one_year" {% if time_filter == 'one_year' %}selected{% endif %}>One year</option>
                  <option value="custom" {% if time_filter == 'custom' %}selected{% endif %}>Custom</option>
                </select>
                <i class="fas fa-search"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="styled-container">
            <div class="table-responsive expense-table">

              <div class="filter-form">
                <!-- filter form -->
              </div>
              <table class="table all-package theme-table compact-table" id="table_id">
                <thead>
                  <tr>
                    <th>
                      <a href="?sort_by=date&sort_order={% if sort_by == 'date' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Date {% if sort_by == 'date' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %} </a>
                    </th>
                   
                    <th>
                      <a href="?sort_by=amount&sort_order={% if sort_by == 'amount' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Amount {% if sort_by == 'amount' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %} </a>
                    </th>
                    <th>
                      <a href="?sort_by=category__name&sort_order={% if sort_by == 'category__name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Category {% if sort_by == 'category__name' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %} </a>
                    </th>
                     <th>Description</th>
                    <th>Option</th>
                  </tr>
                </thead>
                <tbody>
                  {% for expense in expenses %}
                  <tr>
                    <td>{{ expense.date }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.description }}</td>
                    <td>
                      {% if expense.category.name != "Salary" %}
                      <ul>
                        <li>
                          <a href="{% url 'farm_finances:update_expense' expense_id=expense.id %}">
                            <i class="ri-pencil-line"></i>
                          </a>
                        </li>
                        <li>
                          <a href="#" data-bs-toggle="modal" data-bs-target="#deleteExpenseModal" data-expense-id="{{ expense.pk }}">
                            <i class="ri-delete-bin-line"></i>
                          </a>
                        </li>
                      </ul>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- All Expenses Table Ends-->

      <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
          <div class="row">
            <div class="col-md-12 footer-copyright text-center">
              <p class="mb-0">Copyright 2023 © Fastkart theme by pixelstrap</p>
            </div>
          </div>
        </footer>
        <!-- footer end-->
      </div>
    </div>
    <!-- Container-fluid end-->
    <!-- Page Body End -->
  </div>
  <!-- Page Body End -->
</div>
<!-- page-wrapper End-->
<div class="modal fade" id="deleteExpenseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteExpenseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="deleteExpenseModalLabel">Delete Expense</h5>
        <p>Are you sure you want to delete this expense?</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="button-box">
          <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
          <a id="confirm-delete-expense-button" class="btn btn--yes btn-primary" href="#">Yes, delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script>
  $(document).ready(function () {
    // ...

    $("#deleteExpenseModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      var expenseId = button.data("expense-id");
      var url = "{% url 'farm_finances:delete_expense' 0 %}".replace("0", expenseId);
      url = url.endsWith("/") ? url : url + "/"; // Make sure the URL ends with a slash
      $("#confirm-delete-expense-button").attr("href", url);
    });

    // Add this code to your existing script
    $("select[name='time_filter']").change(function () {
      if ($(this).val() === "custom") {
        $("input[name='start_date'], input[name='end_date']").prop("disabled", false);
      } else {
        $("input[name='start_date'], input[name='end_date']").prop("disabled", true);
      }
    });

  });
</script>

{% endblock %}