{% extends 'main/base.html' %} {% block content %} {% load static %}
<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {% include 'home/backend_header.html' %}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {% include 'home/mobile_menu.html' %}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {% include 'home/backend_sidebar.html' %}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <!-- Container-fluid starts-->
    <div class="page-body">
      <!-- All Expenses Table Start -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-table">
              <div class="card-body">
                <div class="title-header option-title">
                  <h5>All Expenses</h5>
                  <a class="btn btn-solid" href="{% url 'farm_finances:create_expense' %}">Add Expense</a>
                </div>

                <div class="table-responsive expense-table">
                  <div>
                    <table class="table all-package theme-table" id="table_id">
                      <thead>
                        <tr>
                          <th>
                            <a href="?sort_by=date&sort_order={% if sort_by == 'date' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Date {% if sort_by == 'date' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %} </a>
                          </th>
                          <th>Description</th>
                          <th>
                            <a href="?sort_by=amount&sort_order={% if sort_by == 'amount' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Amount {% if sort_by == 'amount' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %} </a>
                          </th>
                          <th>
                            <a href="?sort_by=category__name&sort_order={% if sort_by == 'category__name' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Category {% if sort_by == 'category__name' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %} </a>
                          </th>
                          <th>Option</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for expense in expenses %}
                        <tr>
                          <td>{{ expense.date }}</td>
                          <td>{{ expense.description }}</td>
                          <td>{{ expense.amount }}</td>
                          <td>{{ expense.category }}</td>
                          <td>
                            <ul>
                              <li>
                                <a href="{% url 'farm_finances:update_expense' expense_id=expense.id %}">
                                  <i class="ri-pencil-line"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#deleteExpenseModal" data-expense-id="{{ expense.pk }}">
                                  <i class="ri-delete-bin-line"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- All Expenses Table Ends-->

      <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
          <div class="row">
            <div class="col-md-12 footer-copyright text-center">
              <p class="mb-0">Copyright 2023 © Fastkart theme by pixelstrap</p>
            </div>
          </div>
        </footer>
        <!-- footer end-->
      </div>
    </div>
    <!-- Container-fluid end-->
    <!-- Page Body End -->
  </div>
  <!-- Page Body End -->
</div>
<!-- page-wrapper End-->
<div class="modal fade" id="deleteExpenseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteExpenseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="deleteExpenseModalLabel">Delete Expense</h5>
        <p>Are you sure you want to delete this expense?</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="button-box">
          <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
          <a id="confirm-delete-expense-button" class="btn btn--yes btn-primary" href="#">Yes, delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script>
  $(document).ready(function () {
    // ...

    $("#deleteExpenseModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      var expenseId = button.data("expense-id");
      var url = "{% url 'farm_finances:delete_expense' 0 %}".replace("0", expenseId);
      url = url.endsWith("/") ? url : url + "/"; // Make sure the URL ends with a slash
      $("#confirm-delete-expense-button").attr("href", url);
    });
  });
</script>
{% endblock %}
