{% extends 'main/base.html' %} {% block content %} {% load static %}

<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {% include 'home/backend_header.html' %}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {% include 'home/mobile_menu.html' %}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {% include 'home/backend_sidebar.html' %}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <div class="page-body">
      <!-- All Expense Categories Table Start -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-table">
              <div class="card-body">
                <div class="title-header option-title">
                  <h5>All Expense Categories</h5>
                  <a class="btn btn-solid" href="{% url 'farm_finances:create_expense_category' %}">Add Expense Category</a>
                </div>
                <div class="table-responsive category-table">
                  <div>
                    <table class="table all-package theme-table" id="table_id">
                      <thead>
                        <tr>
                          <th>Category Name</th>
                          <th>Option</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for category in expense_categories %}
                        <tr>
                          <td>{{ category.name }}</td>
                          <td>
                            <ul>
                              <li>
                                <a href="{% url 'farm_finances:update_expense_category' expense_category_id=category.id %}">
                                  <i class="ri-pencil-line"></i>
                                </a>
                              </li>
                              <li>
                                  <a href="#" data-bs-toggle="modal" data-bs-target="#deleteExpenseCategoryModal" data-category-id="{{ category.pk }}">
                                      <i class="ri-delete-bin-line"></i>
                                  </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- All Expense Categories Table Ends-->

      <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
          <div class="row">
            <div class="col-md-12 footer-copyright text-center">
              <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
            </div>
          </div>
        </footer>
        <!-- footer end-->
      </div>
    </div>
    <!-- Page Body End -->
  </div>
</div>
 </div>
  <!-- Page Body End -->
</div>
<!-- page-wrapper End-->
<!-- Modal Start-->
<div class="modal fade" id="deleteExpenseCategoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteExpenseCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="deleteExpenseCategoryModalLabel">Delete Expense Category</h5>
                <p>Are you sure you want to delete this expense category?</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="button-box">
                    <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                    <a id="confirm-delete-category-button" class="btn btn--yes btn-primary" href="#">Yes, delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block extra_js %}
<script>
    $(document).ready(function () {
        // ...

        $("#deleteExpenseCategoryModal").on("show.bs.modal", function (event) {
            var button = $(event.relatedTarget);
            var categoryId = button.data("category-id");
            var url = "{% url 'farm_finances:delete_expense_category' 0 %}".replace("0", categoryId);
            url = url.endsWith("/") ? url : url + "/"; // Make sure the URL ends with a slash
            $("#confirm-delete-category-button").attr("href", url);
        });
    });
</script>
{% endblock %}