{% extends 'main/base.html' %} {% block content %} {% load static %}
<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {% include 'home/backend_header.html' %}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {% include 'home/mobile_menu.html' %}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {% include 'home/backend_sidebar.html' %}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <!-- Container-fluid starts-->
    <div class="page-body">
      <!-- All Income Categories Table Start -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-table">
              <div class="card-body">
                <div class="title-header option-title">
                  <h5>All Income Categories</h5>
                  <a class="btn btn-solid" href="{% url 'farm_finances:create_income_category' %}">Add Income Category</a>
                </div>

                <div class="table-responsive category-table">
                  <div>
                    <table class="table all-package theme-table" id="table_id">
                      <thead>
                        <tr>
                          <th>Category Name</th>
                          <th>Option</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for category in income_categories %}
                        <tr>
                          <td>{{ category.name }}</td>
                          <td>
                            <ul>
                              <li>
                                <a href="{% url 'farm_finances:update_income_category' income_category_id=category.id %}">
                                  <i class="ri-pencil-line"></i>
                                </a>
                              </li>
                              <li>
                                <form method="post" action="{% url 'farm_finances:delete_income_category' income_category_id=category.pk %}" class="delete-form" id="delete-form-{{ category.pk }}" data-delete-url="{% url 'farm_finances:delete_income_category' income_category_id=category.pk %}">
                                  {% csrf_token %}
                                  <input type="hidden" name="income_category_id" value="{{ category.pk }}" />
                                  <!-- Add this hidden input field -->
                                  <button type="submit" class="delete-btn border-0 bg-transparent" style="display: none"></button>
                                  <i class="ri-delete-bin-line" data-id="{{ category.pk }}" style="cursor: pointer"></i>
                                </form>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- All Income Categories Table Ends-->

      <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
          <div class="row">
            <div class="col-md-12 footer-copyright text-center">
              <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
            </div>
          </div>
        </footer>
        <!-- footer end-->
      </div>
    </div>
    <!-- Container-fluid end -->
    <!-- Page Body End -->
  </div>
  <!-- Page Body End -->
</div>
<!-- page-wrapper End-->
<!-- Modal Start -->
<div class="modal fade" id="deleteIncomeCategoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteIncomeCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="staticBackdropLabel">Delete Income Category</h5>
        <p>Are you sure you want to delete this income category?</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="button-box">
          <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn--yes btn-primary">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script>
  function submitForm(categoryId) {
    const deleteForm = document.getElementById("delete-form-" + categoryId);

    console.log("Submitting form for category id:", categoryId); // Add this line

    deleteForm.submit();
  }

  document.addEventListener("DOMContentLoaded", function () {
    const deleteIcons = document.querySelectorAll(".ri-delete-bin-line");

    deleteIcons.forEach(function (icon) {
      icon.addEventListener("click", function () {
        const categoryId = this.dataset.id;
        const deleteForm = document.getElementById("delete-form-" + categoryId);

        // Show the confirmation modal
        const modal = new bootstrap.Modal(document.getElementById("deleteIncomeCategoryModal"));
        console.log("Showing modal");
        modal.show();
        console.log("Modal shown");

        // Get the "Yes" button in the modal
        const yesButton = document.querySelector(".btn--yes");

        // Remove previous event listeners to avoid triggering multiple deletes
        yesButton.replaceWith(yesButton.cloneNode(true));

        // Add an event listener to the "Yes" button
        document.querySelector(".btn--yes").addEventListener("click", function (event) {
          event.preventDefault();
          event.stopPropagation();
          console.log("Clicked Yes button");
          submitForm(categoryId);
          modal.hide();
        });
      });
    });
  });
</script>
{% endblock %}
