{% extends 'main/base.html' %} {% block content %} {% load static %}
<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {% include 'home/backend_header.html' %}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {% include 'home/mobile_menu.html' %}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {% include 'home/backend_sidebar.html' %}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <!-- Container-fluid starts-->
    <div class="page-body">
      <!-- All Income Categories Table Start -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-table">
              <div class="card-body">
                <div class="title-header option-title">
                  <h5>All Income Categories</h5>
                  <li>
                    <a class="btn btn-solid" href="{% url 'farm_finances:create_income_category' %}">Add Income Category</a>
                  </li>
                </div>

                <div class="table-responsive category-table">
                  <div>
                    <table class="table all-package theme-table" id="table_id">
                      <thead>
                        <tr>
                          <th>Category Name</th>
                          <th>Option</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for category in income_categories %}
                        <tr>
                          <td>{{ category.name }}</td>
                          <td>
                            <ul>
                              <li>
                                <a href="{% url 'farm_finances:update_income_category' farm_id=farm.id income_category_id=category.id %}">
                                  <i class="ri-pencil-line"></i>
                                </a>
                              </li>
                              <li>
                                {% csrf_token %}

                                <a href="#" class="delete-button" data-id="{{ category.id }}" data-url="{% url 'farm_finances:delete_income_category' farm_id=category.farm.id income_category_id=category.id %}">
                                  <i class="ri-delete-bin-line"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- All Income Categories Table Ends-->

      <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
          <div class="row">
            <div class="col-md-12 footer-copyright text-center">
              <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
            </div>
          </div>
        </footer>
        <!-- footer end-->
      </div>
    </div>
    <!-- Container-fluid end -->
    <!-- Page Body End -->
  </div>
  <!-- Page Body End -->
</div>
<!-- page-wrapper End-->
<!-- Modal Start -->
{% endblock %}
