{% extends 'dairy_farm/backend/backendbase.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
    <div class="tap-top">
        <span class="lnr lnr-chevron-up"></span>
    </div>

    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        {% include 'dairy_farm/backend/header.html' %}
        <div class="page-body-wrapper">
            {% include 'dairy_farm/backend/sidebar.html' %}

            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Update Income Category Information</h5>
                                            </div>

                                            {% load static %}
                                            <form class="theme-form theme-form-2 mega-form" method="POST" action="{% url 'farm_finances:update_income_category' farm_id=farm.id income_category_id=income_category.id %}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                                                    <div class="col-sm-9">
                                                        {{ form.name }}
                                                    </div>
                                                </div>

                                                <div class="mb-4 row">
                                                    <div class="col-sm-9 offset-sm-3">
                                                        <button type="submit" class="btn btn-primary">Update Income Category</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}
