{%load static %}
<div class="page-header">
  <div class="header-wrapper m-0">
    <div class="header-logo-wrapper p-0">
      <div class="logo-wrapper">
        <a href="{% url 'home:home' %}">
          <img class="img-fluid main-logo" src="{% static 'be/assets/images/logo/1.png' %}" alt="logo" />
          <img class="img-fluid white-logo" src="{% static 'be/assets/images/logo/1-white.png' %}" alt="logo" />
        </a>
      </div>
      <div class="toggle-sidebar">
        <i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i>
        <a href="{% url 'home:home' %}">
          <img src="{% static 'be/assets/images/logo/1.png' %}" class="img-fluid" alt="" />
        </a>
      </div>
    </div>

    <div class="nav-right col-6 pull-right right-header p-0">
      <ul class="nav-menus">
        <!-- Add this block for search bar -->
        <!-- Add this block for search bar -->
        <div class="add-animal-button search-box">
          <input type="text" class="search-input" placeholder="Search..." name="q" id="q" />
          <i class="ri-search-line search-icon"></i>
        </div>
        <div id="search-results"></div>
        <!-- End of search bar block -->

        <!-- End of search bar block -->
        <li class="onhover-dropdown">
          <div class="notification-box">
            <i class="ri-notification-line"></i>
            <span class="badge rounded-pill badge-theme">4</span>
          </div>
          <ul class="notification-dropdown onhover-show-div">
            <li>
              <i class="ri-notification-line"></i>
              <h6 class="f-18 mb-0">Notitications</h6>
            </li>
          </ul>
        </li>
        <li>
          <div class="mode">
            <i class="ri-moon-line"></i>
          </div>
        </li>
        <li class="profile-nav onhover-dropdown pe-0 me-0">
          <div class="media profile-media">
            <img class="user-profile rounded-circle" src="{% static 'be/assets/images/users/4.jpg' %}" alt="" />
            <div class="user-name-hide media-body">
              {% if user.first_name %}
              <span>{{ user.first_name }}</span>
              {% else %}
              <span>User</span>
              {% endif %}
              <p class="mb-0 font-roboto">
                {% if user.role == 'admin' %} Admin {% else %} Member {% endif %}
                <i class="middle ri-arrow-down-s-line"></i>
              </p>
            </div>
          </div>
          <ul class="profile-dropdown onhover-show-div">
            <li>
              <a href="all-users.html">
                <i data-feather="users"></i>
                <span>Users</span>
              </a>
            </li>

            <li>
              <a href="support-ticket.html">
                <i data-feather="phone"></i>
                <span>Spports Tickets</span>
              </a>
            </li>
            <li>
              <a href="{% url 'accounts:user_profile' %}">
                <i data-feather="settings"></i>
                <span>Settings</span>
              </a>
            </li>
            {% load static %} {% if user.is_authenticated %}
            <li>
              <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="javascript:void(0)">
                <i data-feather="log-out"></i>
                <span>Log out</span>
              </a>
            </li>
            {% else %}
            <li>
              <a href="{% url 'accounts:login' %}">
                <i data-feather="log-in"></i>
                <span>Log in</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
        <p>Are you sure you want to log out?</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="button-box">
          <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
          <form method="post" action="{% url 'accounts:logout' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn--yes btn-primary">Yes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $(".search-input").on("input", function () {
      var q = $(this).val();
      $.ajax({
        url: '{% url '
        dairy: search ' %}',
        data: {
          'q': q
        },
        dataType: 'json',
        success: function (data) {
          // Clear the search results
          $("#search-results").empty();

          // Parse the JSON data
          var animals = JSON.parse(data);

          // Check if there are any results
          if (animals.length > 0) {
            // Create the dropdown list
            var dropdown = $('<ul>').addClass('search-dropdown');

            // Loop through each animal and add it to the dropdown
            $.each(animals, function (i, animal) {
              dropdown.append(
                '<li>' +
                '<a href="/dairy/animal/' + animal.pk + '/">' + animal.fields.tag + '</a>' +
                '</li>'
              );
            });

            // Append the dropdown to the search results
            $("#search-results").append(dropdown);
          }
        }
      });
    });
  });
</script>
