{%load static %}
<div class="sidebar-wrapper">
  <div id="sidebarEffect"></div>
  <div>
    <div class="logo-wrapper logo-wrapper-center">
      <a href="index.html" data-bs-original-title="" title="">
        <img class="img-fluid for-white" src="{% static 'be/assets/images/logo/full-white.png' %}" alt="logo" />
      </a>
      <div class="back-btn">
        <i class="fa fa-angle-left"></i>
      </div>
      <div class="toggle-sidebar">
        <i class="ri-apps-line status_toggle middle sidebar-toggle"></i>
      </div>
    </div>
    <div class="logo-icon-wrapper">
      <a href="index.html">
        <img class="img-fluid main-logo main-white" src="{% static 'be/assets/images/logo/logo.png' %}" alt="logo" />
        <img class="img-fluid main-logo main-dark" src="{% static 'be/assets/images/logo/logo-white.png' %}" alt="logo" />
      </a>
    </div>
    <nav class="sidebar-main">
      <div class="left-arrow" id="left-arrow">
        <i data-feather="arrow-left"></i>
      </div>
      <div id="sidebar-menu">
        <ul class="sidebar-links" id="simple-bar">
          <li class="back-btn"></li>
          <li class="sidebar-list">
            <a class="sidebar-link sidebar-title link-nav" href="{%url 'home:home' %}">
              <i class="ri-home-line"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-list">
            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
              <i class="ri-store-3-line"></i>
              <span>Animals</span>
            </a>
            <ul class="sidebar-submenu">
              <li>
                <a href="{% url 'dairy:animal_list' %}">Animals List</a>
              </li>
              <li>
                <a href="{% url 'dairy:animal_create' %}">Add New Animal</a>
              </li>
              <li>
                <a href="{% url 'dairy:animal_weight_list' %}">Weight </a>
              </li>
            </ul>
          </li>
          <li class="sidebar-list">
            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
              <i class="ri-list-check-2"></i>
              <span>Category</span>
            </a>
            <ul class="sidebar-submenu">
              <li>
                <a href="{% url 'dairy:animal_category_list' %}">Category List</a>
              </li>
              <li>
                <a href="{% url 'dairy:animal_category_create' %}">Add New Category</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-list">
            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
              <i class="ri-file-chart-line"></i>
              <span>Milk Record</span>
            </a>
            <ul class="sidebar-submenu">
              <li>
                <a href="{% url 'dairy:animal_milk_list' %}">Milk Record</a>
              </li>
              <li>
                <a href="{% url 'dairy:total_animal_milk_list' %}">Total Milk Record</a>
              </li>
              <li>
                <a href="{% url 'dairy:animal_milk_new' %}">Add Milk Record</a>
              </li>
            </ul>
          </li>
          <li class="sidebar-list">
            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
              <i class="ri-bank-line"></i>
              <span>Farm Finances</span>
            </a>
            <ul class="sidebar-submenu">
              <li>
                <a href="{% url 'farm_finances:income_categories' %}">Income Categories</a>
              </li>
              <li>
                <a href="{% url 'farm_finances:expense_categories' %}">Expense Categories</a>
              </li>
              <li>
                <a href="{% url 'farm_finances:income_list' %}">Income List</a>
              </li>
              <li>
                <a href="{% url 'farm_finances:expense_list' %}">Expense List</a>
              </li>
            </ul>
          </li>

          <li class="sidebar-list">
            <a class="sidebar-link sidebar-title" href="javascript:void(0)">
              <i class="ri-user-3-line"></i>
              <span>Users</span>
            </a>
            <ul class="sidebar-submenu">
              {% if user.is_authenticated and user.role == 'admin' %}
              <li>
                <a href="{% url 'accounts:farm_member_list' %}">Farm Members</a>
              </li>
              <li>
                <a href="{% url 'accounts:salary_transaction_list' %}">Salery List</a>
              </li>
              {% endif %}
              <li>
                <a href="{% url 'accounts:create_farm_member'%}">Add new user</a>
              </li>
            </ul>
          </li>

          <li class="sidebar-list">
            <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
              <i class="ri-settings-line"></i>
              <span>Settings</span>
            </a>
            <ul class="sidebar-submenu">
              <li>
                <a href="{% url 'accounts:user_profile' %}">Profile Setting</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="right-arrow" id="right-arrow">
        <i data-feather="arrow-right"></i>
      </div>
    </nav>
  </div>
</div>
