{%extends 'main/base.html'%}{% load dairy_extras %} {%block content%} {%load static%}{% load custom_tags %}

<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {%include 'home/backend_header.html'%}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {%include 'home/mobile_menu.html'%}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {%include 'home/backend_sidebar.html'%}
    <!-- Page Sidebar Ends-->
    <!-- index body start -->
    <div class="page-body">
      <div class="container-fluid">
        <div class="row">
          <!-- chart caard section start -->
          <div class="col-6 col-md-3 col-lg-3">
            <div class="main-tiles border-5 border-0 card-hover card o-hidden">
              <div class="custome-1-bg b-r-4 card-body">
                <div class="media align-items-center static-top-widget">
                  <div class="media-body p-0">
                    <span class="m-0">Total Income</span>
                    <h4 class="mb-0 counter">{{ total_income }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-3">
            <div class="main-tiles border-5 card-hover border-0 card o-hidden">
              <div class="custome-3-bg b-r-4 card-body">
                <div class="media static-top-widget">
                  <div class="media-body p-0">
                    <span class="m-0">Total Expenses</span>
                    <h4 class="mb-0 counter">{{ total_expense }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 col-lg-3">
            <div class="main-tiles border-5 card-hover border-0 card o-hidden">
              <div class="{{ status|floatformat:0|bg_color }} b-r-4 card-body">
                <div class="media static-top-widget">
                  <div class="media-body p-0">
                    <span class="m-0">Status</span>
                    <h4 class="mb-0 counter">{{ status }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-3 col-lg-3">
            <div class="main-tiles border-5 card-hover border-0 card o-hidden">
              <div class="custome-4-bg b-r-4 card-body">
                <div class="media static-top-widget">
                  <div class="media-body p-0">
                    <span class="m-0">Today Milk</span>
                    <h4 class="mb-0 counter">200L</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- chart card section End -->
          <div class="col-xxl-6 col-md-6">
            <div class="card o-hidden card-hover">
              <div class="card-header card-header-top card-header--2 px-0 pt-0">
                <div class="card-header-title">
                  <h4>Income</h4>
                </div>
                <div class="best-selling-box d-sm-flex d-none">
                  <span>Short By:</span>
                  <div class="dropdown">
                    <!-- home/index.html -->
                    <button class="btn p-0 dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" data-bs-auto-close="true">{% if time_filter == 'last_7_days' %} Last 7 days {% elif time_filter == 'last_30_days' %} Last 30 days {% elif time_filter == 'this_month' %} This month {% elif time_filter == 'this_year' %} This year {% else %} Today {% endif %}</button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <li><a class="dropdown-item" href="?time_filter=last_7_days">Last 7 days</a></li>
                      <li><a class="dropdown-item" href="?time_filter=last_30_days">Last 30 days</a></li>
                      <li><a class="dropdown-item" href="?time_filter=this_month">This month</a></li>
                      <li><a class="dropdown-item" href="?time_filter=this_year">This year</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <div>
                  <div class="table-responsive">
                    <table class="user-table transactions-table table border-0">
                      <tbody>
                        {% for item in summary %}
                        <tr>
                          <td>
                            <div class="transactions-icon">
                              <i class="ri-shield-line"></i>
                            </div>
                            <div class="transactions-name">
                              <h6>{{ item.category.name }}</h6>
                            </div>
                          </td>
                          <td class="{% if item.total_amount >= 0 %}success{% else %}lost{% endif %}">PKR. {{ item.total_amount|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-6 col-md-6">
            <div class="card o-hidden card-hover">
              <div class="card-header card-header-top card-header--2 px-0 pt-0">
                <div class="card-header-title">
                  <h4>Expense Summary</h4>
                </div>
                <div class="best-selling-box d-sm-flex d-none">
                  <span>Short By:</span>
                  <div class="dropdown">
                    <!-- home/index.html -->
                    <button class="btn p-0 dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" data-bs-auto-close="true">{% if time_filter == 'last_7_days' %} Last 7 days {% elif time_filter == 'last_30_days' %} Last 30 days {% elif time_filter == 'this_month' %} This month {% elif time_filter == 'this_year' %} This year {% else %} Today {% endif %}</button>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                      <li><a class="dropdown-item" href="?time_filter=last_7_days">Last 7 days</a></li>
                      <li><a class="dropdown-item" href="?time_filter=last_30_days">Last 30 days</a></li>
                      <li><a class="dropdown-item" href="?time_filter=this_month">This month</a></li>
                      <li><a class="dropdown-item" href="?time_filter=this_year">This year</a></li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card-body pt-0">
                <div>
                  <div class="table-responsive">
                    <table class="user-table transactions-table table border-0">
                      <tbody>
                        {% for item in expense_summary %}
                        <tr>
                          <td>
                            <div class="transactions-icon">
                              <i class="ri-shield-line"></i>
                            </div>
                            <div class="transactions-name">
                              <h6>{{ item.category.name }}</h6>
                            </div>
                          </td>
                          <td class="{% if item.total_amount >= 0 %}success{% else %}lost{% endif %}">PKR. {{ item.total_amount|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Best Selling Product Start -->

          <!-- Best Selling Product End -->
          <div style="width: 100%; max-width: 880px; height: 50px; display: flex; align-items: center; justify-content: space-between; border: 1px solid #ddd; border-radius: 5px; margin-bottom: 10px; background-color: white; padding: 0 10px">
            <h2 style="margin: 0; color: #0da487">Animal List</h2>
            <div style="display: flex; align-items: center">
              <i class="fas fa-filter" style="color: #0da487; margin-right: 5px"></i>
              <select id="filter" style="background-color: white; color: #0da487; border: 1px solid #0da487; height: 30px">
                <option value="7days" style="background-color: white; color: #0da487">Last 7 days</option>
                <option value="1month" style="background-color: white; color: #0da487">One Month</option>
                <option value="1year" style="background-color: white; color: #0da487">1 Year</option>
              </select>
            </div>
          </div>

          {% for animal in animals %}
          <div class="animal-card">
            <a href="{% url 'dairy:animal_detail' animal.pk %}" class="image-link">
              {% if animal.image %}
              <img src="{{ animal.image.url }}" alt="Animal" />
              {% else %}
              <!-- fallback image or other content goes here -->
              {% endif %}
            </a>
            <div class="animal-card-content">
              <div class="animal-card-header">
                <a href="{% url 'dairy:animal_detail' animal.pk %}">
                  <h4>{{ animal.tag }}</h4>
                </a>
                <div class="animal-card-actions">
                  <a href="#"><img src="https://via.placeholder.com/16" alt="Edit" /></a>
                  <a href="#"><img src="https://via.placeholder.com/16" alt="Delete" /></a>
                </div>
              </div>
              <p>Price: {{ animal.purchase_cost }}</p>
              <p>Age: {{ animal.dob|animal_age }}</p>
              <div class="animal-card-details">
                <span>{{ animal.sex|capfirst }}</span>
                <span>{{ animal.status|capfirst }}</span>
                <span>{{ animal.animal_type|capfirst }}</span>
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
      <!-- Container-fluid Ends-->
      <!-- footer start-->
      <div class="container-fluid">
        <footer class="footer">
          <div class="row">
            <div class="col-md-12 footer-copyright text-center">
              <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
            </div>
          </div>
        </footer>
      </div>
      <!-- footer End-->
    </div>
    <!-- index body end -->
  </div>
  <!-- Page Body End -->
</div>
<!-- page-wrapper End-->
<!-- Modal Start -->

{%endblock%}
