{%load static%}

<div class="mobile-menu d-md-none d-block mobile-cart">
  <ul>
    <li class="active">
      <a href="{%url 'home:home' %}">
        <i class="iconly-Home icli"></i>
        <span>Home</span>
      </a>
    </li>

    <li class="mobile-category">
      <a href="{%url 'dairy:animal_list' %}">
        <i class="iconly-Category icli js-link"></i>
        <span>Animals</span>
      </a>
    </li>

    <li>
      <a href="{%url 'farm_finances:expense_list' %}" class="search-box">
        <i class="iconly-Category icli"></i>
        <span>Expense</span>
      </a>
    </li>

    <li>
      <a href="{%url 'farm_finances:income_list' %}" class="notifi-wishlist">
        <i class="iconly-Category icli"></i>
        <span>Income</span>
      </a>
    </li>

    <li>
      <a href="{%url 'dairy:animal_milk_list' %}">
        <i class="iconly-Bag-2 icli"></i>
        <span>Milk Rec</span>
      </a>
    </li>
  </ul>
</div>
