{%extends 'main/base.html'%} {%block content%} {%load static%}
<style>
  .info-table-wrapper {
    display: none;
  }

  .name-section {
    display: none;
  }

  .name-section-web {
    display: block;
  }

  .name-section-mobile {
    display: none;
  }

  @media (max-width: 767px) {

    .col-xl-6,
    .col-xxl-12,
    .col-12 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  @media (min-width: 768px) {
    .info-table-wrapper {
      display: block;
    }

    .info-tab-mobile {
      display: none;
    }

    .name-section {
      display: block;
    }

    .name-section-web {
      display: none;
    }

    .name-section-mobile {
      display: block;
    }
  }
</style>

<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {%include 'home/backend_header.html'%}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {%include 'home/mobile_menu.html'%}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {%include 'home/backend_sidebar.html'%}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <!-- Container-fluid starts-->
    <div class="page-body">
      <!-- All User Table Start -->
      <div class="container" style="background-color: white">
        <div class="row">
          <div class="col-sm-12">
            <section class="product-section">
              <div class="col-xxl-12">
                <div class="row g-4">
                  <div class="col-xl-6">
                    <div class="product-left-box">
                      <div class="row g-2">
                        <div class="col-xxl-10 col-lg-12 col-md-10 order-xxl-2 order-lg-1 order-md-2">
                          <div class="product-main-2 no-arrow">
                            <div>
                              <div class="slider-image">
                                {% if member.profile.profile_picture %}
                                <img src="{{ member.profile.profile_picture.url }}" id="img-1" data-zoom-image="{{ member.profile.profile_picture.url }}" class="img-fluid image_zoom_cls-0 lazyload" alt="Profile Picture" />
                                {% else %}
                                <img src="{% static 'path/to/default/image.jpg' %}" id="img-1" data-zoom-image="{% static 'path/to/default/image.jpg' %}" class="img-fluid image_zoom_cls-0 blur-up lazyload" alt="Default Profile Picture" />
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xxl-2 col-lg-12 col-md-2 order-xxl-1 order-lg-2 order-md-1"></div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-6">
                    <div class="responsive-container">
                      <div class="right-box-contain">
                        <div class="d-flex align-items-center">
                          <h2 class="name mb-0">{{ member.first_name }} {{member.last_name}}</h2>
                          <a href="{% url 'accounts:edit_member' member.pk %}" class="btn btn-link btn-sm text-success ms-auto">
                            <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a href="{% url 'accounts:reset_password' member.pk %}" class="btn btn-link btn-sm text-success ms-auto">
                            <i class="fas fa-lock"></i>
                          </a>
                        </div>
                        <div class="name-section">
                          <p>Role: {{ member.role }}</p>
                          <p>City: {{ member.city }}</p>
                          <p>Email: {{ member.email }}</p>
                          <p>Joining Date: {{ member.profile.joining_date|date:"F d, Y"|default:"Not Available" }}</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="product-section-box">
                      <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link info-tab-mobile show active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Info</button>
                        </li>

                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="salary-tab" data-bs-toggle="tab" data-bs-target="#salary" type="button" role="tab" aria-controls="salary" aria-selected="false">Salery</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="transactions-tab" data-bs-toggle="tab" data-bs-target="#transactions" type="button" role="tab" aria-controls="transactions" aria-selected="false">Salary Transactions</button>
                        </li>
                        <li class="nav-item" role="presentation">
                          <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">Tasks</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade info-table-wrapper show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                          <div class="table-responsive">
                            <table class="table info-table">
                              <tbody>
                                <tr>
                                  <td>Role</td>
                                  <td>{{ member.role }}</td>
                                </tr>
                                <tr>
                                  <td>City</td>
                                  <td>{{ member.city }}</td>
                                </tr>
                                <tr>
                                  <td>Email</td>
                                  <td>{{ member.email }}</td>
                                </tr>
                                <tr>
                                  <td>Joining Date</td>
                                  <td>{{ member.profile.joining_date|date:"F d, Y"|default:"Not Available" }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="salary" role="tabpanel" aria-labelledby="salary-tab">
                          <div class="col-sm-12" style="padding-top: 15px;">
                            <div class="list-container">
                              <span>Salery Info</span>
                              <!-- Adjusted button -->
                              <a href="#" class="add-animal-link" data-bs-toggle="modal" data-bs-target="#allowanceModal">
                                <div>
                                  <div class="add-animal-button">
                                    <span>Add/Edit Allowance</span>
                                  </div>
                                </div>
                              </a>
                            </div>

                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>Salary Component</th>
                                  <th>Amount</th>
                                  <th>Actions</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for component in member.salary_components.all %}
                                <tr>
                                  <td>{{ component.name }} ({{ component.duration|title }})</td>
                                  <td>{{ component.amount }}</td>
                                  <td>
                                    <a href="{% url 'accounts:update_salary_component' member_id=member.pk component_id=component.pk %}"> <i class="ri-pencil-line"></i></a>
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteSalaryComponentModal" data-component-id="{{ component.pk }}"><i class="ri-delete-bin-line"></i></a>

                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            <table class="table info-table">
                              <tbody>
                                <tr>
                                  <td>Employee Monthly Salary</td>
                                  <td>{{ member.total_salary }}</td>
                                </tr>
                                <tr>
                                  <td>Employee Joining Date</td>
                                  <td>{{ member.profile.joining_date|date:"F d, Y" }}</td>
                                </tr>
                                <tr>
                                  <td>Employee End Date</td>
                                  {% if member.profile.end_date %}
                                  <td>{{ member.profile.end_date|date:"F d, Y" }}</td>
                                  {% else %}
                                  <td>Ongoing</td>
                                  {% endif %}
                                </tr>
                                {% for component, data in salary_status.items %}
                                {% if component not in excluded_keys %}
                                <tr>
                                  <td>{{ component }} Received</td>
                                  <td>{{ data.received_amount }}</td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                                <tr>
                                  <td>Employee Total Salary till now</td>
                                  <td>{{ salary_status.expected_salary_till_now }}</td>
                                </tr>
                                <tr>
                                  <td>Total Salary received</td>
                                  <td>{{ salary_status.total_salary_received }}</td>
                                </tr>
                                <tr>
                                  <td>Remaining Salary</td>
                                  <td>{{ salary_status.remaining_salary }}</td>
                                </tr>
                              </tbody>
                            </table>


                            <!-- Add/Edit Allowance Modal -->
                            <div class="modal fade" id="allowanceModal" tabindex="-1" aria-labelledby="allowanceModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="allowanceModalLabel">Add/Edit Allowance</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <form method="POST" action="{% url 'accounts:member_detail' member.pk %}">
                                      {% csrf_token %} {{ form.as_p }}
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Allowance</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>


                          </div>
                        </div>
                        <div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
                          <div class="col-sm-12" style="padding-top: 15px;">
                            <div class="list-container">
                              {% if salary_transaction.pk %}
                              <a href="{% url 'accounts:salary_transaction_update_member' member_id=member.pk pk=salary_transaction.pk %}" class="add-animal-link">
                                <div>
                                  <div class="add-animal-button">
                                    <span>Update Salary Amount</span>
                                  </div>
                                </div>
                              </a>
                              {% else %}
                              <a href="{% url 'accounts:salary_transaction_update_member' member_id=member.pk pk=0 %}" class="add-animal-link">
                                <div>
                                  <div class="add-animal-button">
                                    <span>Add Salary Amount</span>
                                  </div>
                                </div>
                              </a>
                              {% endif %}


                              <div class="list-subcontainer">


                                <i class="fas fa-filter filter-icon"></i>
                                <form method="get" class="time-filter-form d-flex align-items-center" id="filterForm">
                                  <select name="time_filter" id="filter" class="filter-select" onchange="document.getElementById('filterForm').submit();">
                                    <option value="all" {% if time_filter == 'all' %}selected{% endif %}>All</option>
                                    <option value="last_day" {% if time_filter == 'last_day' %}selected{% endif %}>Today</option>
                                    <option value="yesterday" {% if time_filter == 'yesterday' %}selected{% endif %}>Yesterday</option>
                                    <option value="last_7_days" {% if time_filter == 'last_7_days' %}selected{% endif %}>Last 7 days</option>
                                    <option value="this_month" {% if time_filter == 'this_month' %}selected{% endif %}>This Month</option>
                                    <option value="last_month" {% if time_filter == 'last_month' %}selected{% endif %}>Last Month</option>
                                    <option value="four_months" {% if time_filter == 'four_months' %}selected{% endif %}>4 Months</option>
                                    <option value="one_year" {% if time_filter == 'one_year' %}selected{% endif %}>1 Year</option>

                                  </select>

                                </form>

                              </div>
                            </div>

                            <div class="table-responsive transactions-table">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    <th>Options</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for transaction in salary_transactions %}
                                  <tr data-toggle="collapse" data-target="#transactionDetail{{forloop.counter}}" class="accordion-toggle d-sm-none">

                                    <td>{{ transaction.transaction_date }}</td>
                                    <td>{{ transaction.component.name }} ({{ transaction.component.duration|title }})</td>
                                    <td>{{ transaction.amount_paid }}</td>
                                    <td>{{ transaction.description }}</td>
                                    <td>
                                      <a href="{% url 'accounts:salary_transaction_update' transaction.pk %}"><i class="ri-pencil-line"></i></a>
                                      <a href="#" data-bs-toggle="modal" data-bs-target="#deleteTransactionModal" data-transaction-id="{{ transaction.pk }}"><i class="ri-delete-bin-line"></i></a>
                                    </td>
                                  </tr>

                                  <tr class="d-none d-sm-table-row">
                                    <td>{{ transaction.transaction_date }}</td>
                                    <td>{{ transaction.component.name }} ({{ transaction.component.duration|title }})</td>
                                    <td>{{ transaction.amount_paid }}</td>
                                    <td>{{ transaction.description }}</td>
                                    <td>
                                      <a href="{% url 'accounts:salary_transaction_update' transaction.pk %}"><i class="ri-pencil-line"></i></a>
                                      <a href="#" data-bs-toggle="modal" data-bs-target="#deleteTransactionModal" data-transaction-id="{{ transaction.pk }}"><i class="ri-delete-bin-line"></i></a>
                                    </td>
                                  </tr>

                                  <tr>
                                    <td colspan="5" class="hiddenRow">
                                      <div class="accordion-body collapse" id="transactionDetail{{forloop.counter}}">
                                        <strong>Action:</strong>
                                        <a href="{% url 'accounts:salary_transaction_update' transaction.pk %}"><i class="ri-pencil-line"></i> Edit</a>
                                        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteTransactionModal" data-transaction-id="{{ transaction.pk }}"><i class="ri-delete-bin-line"></i> Delete</a>
                                      </div>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>




                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <!-- Account content goes here -->
                  </div>
                  <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                    <!-- Tasks content goes here -->
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      </section>
    </div>
  </div>
</div>
<!-- All User Table Ends-->
</div>
<!-- Container-fluid end -->
<!-- Page Body End -->
</div>
<!-- Page Body End -->
</div>
<!-- page-wrapper End-->
<!-- Delete Salary Transaction Modal -->
<div class="modal fade" id="deleteTransactionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteTransactionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="deleteTransactionModalLabel">Delete Salary Transaction Record</h5>
        <p>Are you sure you want to delete this salary transaction record?</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="button-box">
          <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
          <a id="confirm-delete-button" class="btn btn--yes btn-primary" href="#">Yes, delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Delete Salary Transaction Modal -->

<div class="modal fade" id="deleteSalaryComponentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteSalaryComponentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="deleteSalaryComponentModalLabel">Delete Salary Component</h5>
        <p>Are you sure you want to delete this salary component?</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="button-box">
          <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
          <form id="deleteSalaryComponentForm" method="post" action="#">
            {% csrf_token %}
            <button type="submit" class="btn btn--yes btn-primary">Yes, delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{%endblock%}{% block extra_js %}
<script>
  $(document).ready(function () {
    // ...

    $("#deleteTransactionModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      var transactionId = button.data("transaction-id");
      var url = "{% url 'accounts:salary_transaction_delete' 0 %}".replace("0", transactionId);
      url = url.endsWith("/") ? url : url + "/"; // Make sure the URL ends with a slash
      $("#confirm-delete-button").attr("href", url);
    });
  });
  $(document).ready(function () {
    $('#deleteSalaryComponentModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget); // Button that triggered the modal
      var componentId = button.data('component-id'); // Extract info from data-* attributes
      var deleteUrl = "{% url 'accounts:delete_salary_component' member_id=member.pk component_id=0 %}".replace('0', componentId);

      var modal = $(this);
      modal.find('#deleteSalaryComponentForm').attr('action', deleteUrl);
    });
  });
</script>
{% endblock %}