{% extends 'main/base.html' %} {% block content %} {% load static %}

<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {% include 'home/backend_header.html' %}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {% include 'home/mobile_menu.html' %}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {% include 'home/backend_sidebar.html' %}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <!-- Container-fluid starts-->
    <div class="page-body">
      <!-- Member Detail Start -->
      <div class="container" style="background-color: white">
        <div class="row">
          <div class="col-sm-12">
            <section class="product-section">
              <div class="col-xxl-12">
                <div class="row g-4">
                  <div class="col-xl-6">
                    <div class="product-left-box">
                      <div class="row g-2">
                        <div class="col-xxl-10 col-lg-12 col-md-10 order-xxl-2 order-lg-1 order-md-2">
                          <div class="product-main-2 no-arrow">
                            <div>
                              <div class="slider-image">
                                {% if member.profile.profile_picture %}
                                <img src="{{ member.profile.profile_picture.url }}" id="img-1" data-zoom-image="{{ member.profile.profile_picture.url }}" class="img-fluid image_zoom_cls-0 lazyload" alt="Profile Picture" />
                                {% else %}
                                <img src="{% static 'path/to/default/image.jpg' %}" id="img-1" data-zoom-image="{% static 'path/to/default/image.jpg' %}" class="img-fluid image_zoom_cls-0 blur-up lazyload" alt="Default Profile Picture" />
                                {% endif %}
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xxl-2 col-lg-12 col-md-2 order-xxl-1 order-lg-2 order-md-1"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="responsive-container">
                      <div class="right-box-contain">
                        <div class="d-flex align-items-center">
                          <h2 class="name mb-0">{{ member.first_name }} {{ member.last_name }}</h2>
                          <a href="{% url 'accounts:edit_member' member.pk %}" class="btn btn-link btn-sm text-success ms-auto">
                            <i class="fas fa-pencil-alt"></i>
                          </a>
                        </div>
                        <div class="name-section">
                          <p>Role: {{ member.role }}</p>
                          <p>City: {{ member.profile.city }}</p>
                          <p>Email: {{ member.email }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <!-- Member Detail Ends-->
      <!-- Salary Tab Start -->
      <div class="container">
        <div class="col-12">
          <div class="product-section-box">
            <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="salary-tab" data-bs-toggle="tab" data-bs-target="#salary" type="button" role="tab" aria-controls="salary" aria-selected="false">Salary</button>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade" id="salary" role="tabpanel" aria-labelledby="salary-tab">
                <div class="col-sm-12">
                  <div class="card card-table">
                    <div class="card-body">
                      <div class="title-header option-title">
                        <h5>Salary Information</h5>
                        <!-- Add/Edit Allowance Button -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#allowanceModal">Add/Edit Allowance</button>
                      </div>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Salary Component</th>
                            <th>Amount</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for component in member.salary_components.all %}
                          <tr>
                            <td>{{ component.name }} ({{ component.duration|title }})</td>
                            <td>{{ component.amount }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      <div class="mt-3">
                        <h6>Total Salary: {{ member.total_salary }}</h6>
                        <h6>Employee Joining Date: {{ member.profile.joining_date|date:"F d, Y" }}</h6>
                      </div>
                      <!-- Add/Edit Allowance Modal -->
                      <div class="modal fade" id="allowanceModal" tabindex="-1" aria-labelledby="allowanceModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="allowanceModalLabel">Add/Edit Allowance</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <form method="POST" action="{% url 'accounts:member_detail' member.pk %}">
                                {% csrf_token %} {{ form.as_p }}
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                  <button type="submit" class="btn btn-primary">Save Allowance</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid end -->
    <!-- Page Body End -->
  </div>
  <!-- Page Body End -->
</div>
<!-- page-wrapper End-->
{% endblock %}
