{% extends "home/base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-ajhUYg8VfSLKg//I6G5p5FN5NzLXMUBSLOF8PgB13fi+jtrjEj9h7AXy9ru5u4zEg3K4u4GW1z8t6pXtRfN9OA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    @media (min-width: 992px) {
      .info-tab-mobile {
        display: none;
      }
    }

    @media (max-width: 991.98px) {
      .info-tab-desktop {
        display: none;
      }
    }
  </style>
</head>

<body>
  <!-- mobile fix menu start -->
  {% include 'home/mobile_menu.html' %}
  <!-- mobile fix menu end -->
  <!-- Product Left Sidebar Start -->
  <section class="product-section">
    <div class="container-fluid-lg">
      <div class="row">
        <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
          <div class="row g-4">
            <div class="col-xl-6 wow fadeInUp">
              <div class="product-left-box">
                <div class="row g-2">
                  <div class="col-xxl-10 col-lg-12 col-md-10 order-xxl-2 order-lg-1 order-md-2">
                    <div class="product-main-2 no-arrow">
                      <div>
                        <div class="slider-image">
                          {% if profile.profile_picture %}
                          <img src="{{ profile.profile_picture.url }}" id="img-1" data-zoom-image="{{ profile.profile_picture.url }}" class="img-fluid image_zoom_cls-0 blur-up lazyload" alt="Profile Picture" />
                          {% else %}
                          <img src="{% static 'path/to/default/image.jpg' %}" id="img-1" data-zoom-image="{% static 'path/to/default/image.jpg' %}" class="img-fluid image_zoom_cls-0 blur-up lazyload" alt="Default Profile Picture" />
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-2 col-lg-12 col-md-2 order-xxl-1 order-lg-2 order-md-1"></div>
                </div>
              </div>
            </div>

            <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="responsive-container">
                <div class="right-box-contain">
                  <div class="d-flex align-items-center">
                    <h2 class="name mb-0">{{ form.first_name.value }} {{ form.last_name.value }}</h2>
                    <a href="{% url 'accounts:edit_profile' %}" class="btn btn-link btn-sm text-success ms-auto">
                      <i class="fas fa-pencil-alt"></i>
                    </a>
                  </div>

                  <div class="info-table-wrapper info-tab-desktop">
                    <div class="table-responsive">
                      <table class="table info-table">
                        <tbody>
                          <tr>
                            <td>Role</td>
                            <td>{{ form.role.value }}</td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td>{{ form.city.value }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ form.email.value }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="product-section-box">
                <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link info-tab-mobile show active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true">Info</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="description-tab" data-bs-toggle="tab" data-bs-target="#description" type="button" role="tab" aria-controls="description" aria-selected="false">Account</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">Tasks</button>
                  </li>
                  {% if request.user.role == "admin" %}
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="farm-members-tab" data-bs-toggle="tab" data-bs-target="#farm_members" type="button" role="tab" aria-controls="farm_members" aria-selected="false">Farm Members</button>
                  </li>
                  {% endif %}
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade info-tab-mobile show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="table-responsive">
                      <table class="table info-table">
                        <tbody>
                          <tr>
                            <td>Role</td>
                            <td>{{ form.role.value }}</td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td>{{ form.city.value }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ form.email.value }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="tab-pane fade" id="description" role="tabpanel" aria-labelledby="description-tab">
                    <!-- Account content goes here -->
                  </div>
                  <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                    <!-- Tasks content goes here -->
                  </div>
                  {% if request.user.role == "admin" %}
                  <a href="{% url 'accounts:create_farm_member' %}">Create Farm Member</a>
                  <div class="tab-pane fade" id="farm_members" role="tabpanel" aria-labelledby="farm-members-tab">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>User Image</th>
                            <th>Name</th>
                            <th>Mobile Number</th>
                            <th>Email</th>
                            <th>Option</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for member in farm_members %}
                          <tr>
                          <td>
                          <a href="#">
                          <img src="{{ member.profile_picture.url|default:'path/to/default/image.jpg' }}" alt="{{ member.first_name }} {{ member.last_name }}" class="img-thumbnail" width="50" height="50">
                          </a>
                          </td>
                          <td>
                          <a href="#">{{ member.first_name }} {{ member.last_name }}</a>
                          </td>
                          <td>{{ member.mobile_number }}</td>
                          <td>{{ member.email }}</td>
                          <td>
                          <a href="#" class="btn btn-link btn-sm text-success">
                          <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a href="#" class="btn btn-link btn-sm text-danger">
                          <i class="fas fa-trash"></i>
                          </a>
                          <a href="#" class="btn btn-link btn-sm text-info">
                          <i class="fas fa-eye"></i>
                          </a>
                          </td>
                          </tr>
                          {% endfor %}
                          </tbody>
                          </table>
                          </div>
                          </div>
                          {% endif %}
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          </div>
                          
                            </div>
                          </section>
                          </body>
                          </html>
                          {% endblock %}

