{% extends "home/base.html" %}

{% load static %}

{% block content %}


<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>

    </div>
    <!-- Loader End -->
    <!-- mobile fix menu start -->
    {% include 'home/mobile_menu.html' %}
    <!-- mobile fix menu end -->
    <!-- log in section start -->
    <section class="log-in-section background-image-2 section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                    <div class="image-contain">
                        <img src="../assets/images/inner-page/log-in.png" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h3>Welcome To Channab</h3>
                        </div>

                        <div class="input-box">
                            <form method="post" action="{% url 'accounts:signup' %}" class="row g-4">
                                {% csrf_token %}
                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input type="text" class="form-control" name="{{ form.mobile.html_name }}"
                                            id="{{ form.mobile.auto_id }}" placeholder="Mobile Number">
                                        <label for="{{ form.mobile.auto_id }}">Mobile Number</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input type="text" class="form-control" name="{{ form.farm_name.html_name }}"
                                            id="{{ form.farm_name.auto_id }}" placeholder="Farm Name">
                                        <label for="{{ form.farm_name.auto_id }}">Farm Name</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input type="password" class="form-control" name="{{ form.password1.html_name }}"
                                            id="{{ form.password1.auto_id }}" placeholder="Password">
                                        <label for="{{ form.password1.auto_id }}">Password</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input type="password" class="form-control" name="{{ form.password2.html_name }}"
                                            id="{{ form.password2.auto_id }}" placeholder="Confirm Password">
                                        <label for="{{ form.password2.auto_id }}">Confirm Password</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-animation w-100 justify-content-center" type="submit">Sign
                                        Up</button>
                                </div>
                            </form>
                        </div>
                        <div class="other-log-in">
                            <h6></h6>
                        </div>

                        <div class="sign-up-box">
                            <h4>Already have an account?</h4>
                            <a href="{% url 'accounts:login' %}">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- log in section end -->
</body>

</html>
{% endblock %}