{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {% include 'home/backend_header.html' %}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {% include 'home/mobile_menu.html' %}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {% include 'home/backend_sidebar.html' %}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <div class="page-body">
      <!-- New Product Add Start -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-sm-8 m-auto">
                <div class="card">
                  <div class="card-body">
                    <div class="card-header-2">
                      <h5>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Animal Category</h5>
                    </div>

                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="mb-4 row align-items-center">
                        <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" name="{{ form.title.name }}" placeholder="Category Name" value="{{ form.title.value|default:'' }}" />
                          {{ form.title.errors }}
                        </div>
                      </div>

                      <div class="mb-4 row align-items-center">
                        <label class="col-sm-3 col-form-label form-label-title">Category Image</label>
                        <div class="form-group col-sm-9">
                          <div class="dropzone-wrapper" id="dropzone-wrapper">
                            <input type="file" class="dropzone" name="{{ form.image.name }}" id="image-input" style="display: none;" />
                            <div class="dropzone-desc" id="dropzone-desc">
                              <i class="ri-upload-2-line"></i>
                              <p>Choose an image file or drag it here.</p>
                            </div>
                            {{ form.image.errors }}
                            <img id="image-preview" src="#" alt="Image Preview" style="display: none; max-width: 100%; max-height: 200px; margin-top: 10px;">
                          </div>
                        </div>
                      </div>

                      <div class="mb-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-form">Save</button>
                        <a href="{% url 'dairy:animal_category_list' %}" class="btn btn-secondary btn-form">Cancel</a>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- New Product Add End -->

      <!-- footer Start -->

      <!-- footer En -->
    </div>
    <!-- Container-fluid End -->

    <!-- Page Body End -->
  </div>
    <!-- Page Body End -->
</div>
<!-- page-wrapper End-->

</div>
{% endblock %}


