{%extends 'main/base.html'%} {% load dairy_extras %} {%load static%} {%block content%}

<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {%include 'home/backend_header.html'%}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {%include 'home/mobile_menu.html'%}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {%include 'home/backend_sidebar.html'%}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <!-- Container-fluid starts-->
    <div class="page-body">
      <div class="container-fluid">
        <div class="row">
          <div class="list-container">
            <h2 class="list-header">Animal List</h2>
            <div class="list-subcontainer">
              <!-- Note the new class here -->
              <a href="{% url 'dairy:animal_create'  %}" class="add-animal-link">
                <div>
                  <div class="add-animal-button">
                    <span>Add Animal</span>
                  </div>
                </div>
              </a>

              <i class="fas fa-filter filter-icon"></i>
              <select id="filter" class="filter-select">
                <option value="7days" class="filter-select-option">Last 7 days</option>
                <option value="1month" class="filter-select-option">One Month</option>
                <option value="1year" class="filter-select-option">1 Year</option>
              </select>
            </div>
          </div>
          <div class="list-container slider">
            {% for animal_type in animals_by_type.keys %}
            <div class="list-subcontainer">
              <a href="/dairy/animals/?type={{ animal_type }}">
                <div class="add-animal-button">
                  <span class="animal-type">{{ animal_type }}</span>
                  <span class="animal-count">{{ counts_by_type|get_item:animal_type }}</span>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>

          {% include 'dairy/animal_list_partial.html' with page_obj=page_objs_by_type.all %} {% for animal_type, page_obj in page_objs_by_type.items %}
          <div class="tab-pane fade" id="{{ animal_type }}">{% include 'dairy/animal_list_partial.html' with page_obj=page_obj %}</div>
          {% endfor %}

          <div class="card-footer border-0">
            <nav>
              <ul class="pagination style-1 mb-0">
                {% if page_obj.has_previous %}
                <li class="page-item page-indicator">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <i class="la la-angle-left"></i>
                  </a>
                </li>
                {% endif %} {% for i in page_obj.paginator.page_range %}
                <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                  <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endfor %} {% if page_obj.has_next %}
                <li class="page-item page-indicator">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <i class="la la-angle-right"></i>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>

      <!-- Container-fluid Ends-->

      <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
          <div class="row">
            <div class="col-md-12 footer-copyright text-center">
              <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <!-- Container-fluid end -->
    <!-- Page Body End -->
  </div>
  <!-- Page Body End -->
</div>
<!-- page-wrapper End-->

<!-- Modal Start -->
<div class="modal fade" id="deleteAnimalModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteAnimalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="deleteAnimalModalLabel">Delete Animal</h5>
        <p>Are you sure you want to delete this animal?</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="button-box">
          <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
          <a id="confirm-delete-animal-button" class="btn btn--yes btn-primary" href="#">Yes, delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script>
  $(document).ready(function () {
    $(".nav-tabs a").click(function () {
      $(this).tab("show");
    });
  });
  $(document).ready(function () {
    // ...

    $("#deleteAnimalModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      var animalId = button.data("animal-id");
      var url = "{% url 'dairy:delete_animal' 0 %}".replace("0", animalId);
      url = url.endsWith("/") ? url : url + "/"; // Make sure the URL ends with a slash
      $("#confirm-delete-animal-button").attr("href", url);
    });
  });
</script>

{%endblock%}
