{% load dairy_extras %} {% for animal in page_obj %}
<div class="animal-card">
  <a href="{% url 'dairy:animal_detail' animal.pk %}" class="image-link">
    {% if animal.image %}
    <img src="{{ animal.image.url }}" alt="Animal" />
    {% else %}
    <!-- fallback image or other content goes here -->
    {% endif %}
  </a>
  <div class="animal-card-content">
    <div class="animal-card-header">
      <a href="{% url 'dairy:animal_detail' animal.pk %}">
        <h4>{{ animal.tag }}</h4>
      </a>
      <div class="animal-card-actions">
        <a href="#"><img src="https://via.placeholder.com/16" alt="Edit" /></a>
        <a href="#"><img src="https://via.placeholder.com/16" alt="Delete" /></a>
      </div>
    </div>
    <p>Price: {{ animal.purchase_cost }}</p>
    <p>Age: {{ animal.dob|animal_age }}</p>
    <div class="animal-card-details">
      <span>{{ animal.sex|capfirst }}</span>
      <span>{{ animal.status|capfirst }}</span>
      <span>{{ animal.animal_type|capfirst }}</span>
    </div>
  </div>
</div>

{% endfor %}
