{% extends 'main/base.html' %} {% block content %} {% load static %} {% load dairy_extras %}
<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {% include 'home/backend_header.html' %}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {% include 'home/mobile_menu.html' %}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {% include 'home/backend_sidebar.html' %}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <!-- Container-fluid starts-->
    <div class="page-body">
      <!-- Animal Weights Table Start -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-table">
              <div class="card-body">
                <div class="title-header option-title">
                  <h5>Animal Weights</h5>
                  <div class="d-flex align-items-center">
                    <a class="btn btn-primary me-2" href="{% url 'dairy:animal_weight_new' %}">Add Weight</a>
                  </div>
                </div>

                <div class="table-responsive weight-table">
                  <div>
                    <table class="table all-package theme-table" id="table_id">
                      <thead>
                        <tr>
                          <th>
                            <a href="?sort_by=tag&sort_order={% if sort_by == 'tag' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">TAG# {% if sort_by == 'tag' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %}</a>
                          </th>
                          <th>
                            <a href="?sort_by=date&sort_order={% if sort_by == 'date' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Date {% if sort_by == 'date' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %}</a>
                          </th>
                          <th>
                            <a href="?sort_by=weight_kg&sort_order={% if sort_by == 'weight_kg' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Weight (KG) {% if sort_by == 'weight_kg' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %}</a>
                          </th>
                          <th>
                            <a href="?sort_by=weight_change_kg&sort_order={% if sort_by == 'weight_change_kg' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Weight Change (KG) {% if sort_by == 'weight_change_kg' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %}</a>
                          </th>
                          <th>
                            <a href="?sort_by=weight_change_percent&sort_order={% if sort_by == 'weight_change_percent' and sort_order == 'asc' %}desc{% else %}asc{% endif %}">Weight Change (%) {% if sort_by == 'weight_change_percent' %} {% if sort_order == 'asc' %}▲{% else %}▼{% endif %} {% endif %}</a>
                          </th>
                          <th>Description</th>
                          <th>Option</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for weight in weights %} {% with prev_weight=prev_weights|get_item:weight.pk %}
                        <tr>
                          <td><a href="{% url 'dairy:animal_detail' weight.animal.pk %}">{{ weight.animal.tag }}</a></td>
                          <td>{{ weight.date }}</td>
                          <td>{{ weight.weight_kg }}</td>
                          <td class="{% if prev_weight %}{% if weight.weight_kg|subtract:prev_weight.weight_kg < 0 %}text-danger{% else %}text-success{% endif %}{% endif %}">{% if prev_weight %} {{ weight.weight_kg|subtract:prev_weight.weight_kg }} {% else %} N/A {% endif %}</td>
                          <td class="{% if prev_weight %}{% if weight.weight_kg|subtract:prev_weight.weight_kg < 0 %}text-danger{% else %}text-success{% endif %}{% endif %}">{% if prev_weight %} {{ weight.weight_kg|subtract:prev_weight.weight_kg|div:prev_weight.weight_kg|mul:100|floatformat }}{% else %} N/A {% endif %}</td>
                          <td>{{ weight.description }}</td>
                          <td>
                            <ul>
                              <li>
                                <a href="{% url 'dairy:animal_weight_edit' weight.pk %}">
                                  <i class="ri-pencil-line"></i>
                                </a>
                              </li>
                              <li>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#deleteWeightModal" data-weight-id="{{ weight.pk }}">
                                  <i class="ri-delete-bin-line"></i>
                                </a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        {% endwith %} {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Animal Weights Table Ends-->

      <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
          <div class="row">
            <div class="col-md-12 footer-copyright text-center">
              <p class="mb-0">Copyright 2023 © Fastkart theme by pixelstrap</p>
            </div>
          </div>
        </footer>
        <!-- footer end-->
      </div>
    </div>
    <!-- Container-fluid end -->
    <!-- Page Body End -->
  </div>
  <!-- Page Body End -->
</div>
<!-- Delete Animal Weight Modal -->
<div class="modal fade" id="deleteWeightModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteWeightModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="deleteWeightModalLabel">Delete Animal Weight Record</h5>
        <p>Are you sure you want to delete animal weight record?</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="button-box">
          <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
          <a id="confirm-delete-button" class="btn btn--yes btn-primary" href="#">Yes, delete</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Delete Animal Weight Modal -->

<!-- page-wrapper End-->
{% endblock %} {% block extra_js %}

<script>
  $(document).ready(function () {
    // ...

    $("#deleteWeightModal").on("show.bs.modal", function (event) {
      var button = $(event.relatedTarget);
      var weightId = button.data("weight-id");
      var url = "{% url 'dairy:animal_weight_delete' 0 %}".replace("0", weightId);
      url = url.endsWith("/") ? url : url + "/"; // Make sure the URL ends with a slash
      $("#confirm-delete-button").attr("href", url);
    });
  });
</script>

{% endblock %}
