<div class="table-responsive">
  <table class="table table-bordered table-sm">
    <tbody>
      <tr>
        <th>Sex</th>
        <td>House</td>
      </tr>
      <tr>
        <th>Price</th>
        <td>PKR 3.3 Crore</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>G-13, Islamabad, Islamabad Capital</td>
      </tr>
      <tr>
        <th>Bath(s)</th>
        <td>5 Baths</td>
      </tr>

      <tr>
        <th>Added</th>
        <td>3 hours ago</td>
      </tr>
    </tbody>
  </table>
</div>
