{% load dairy_extras %} {% for animal in page_obj %}
<div style="width: 100%; max-width: 880px; height: 150px; display: flex; border: 1px solid #ddd; border-radius: 5px; margin-bottom: 10px; background-color: white">
  <a href="{% url 'dairy:animal_detail' animal.pk %}" style="width: 150px; height: 150px; display: block">
    {% if animal.image %}
    <img src="{{ animal.image.url }}" alt="Animal" style="width: 100%; height: 100%; object-fit: cover" />
    {% else %}
    <!-- fallback image or other content goes here -->
    {% endif %}
  </a>
  <div style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between; padding: 10px">
    <div style="display: flex; justify-content: space-between; align-items: center">
      <a href="{% url 'dairy:animal_detail' animal.pk %}" style="color: inherit; text-decoration: none">
        <h4 style="margin: 0">{{ animal.tag }}</h4>
      </a>
      <div>
        <a href="{% url 'dairy:animal_edit' animal.pk %}"><i class="ri-pencil-line"></i></a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteAnimalModal{{ animal.pk }}"><i class="ri-delete-bin-line"></i></a>
      </div>
    </div>
    <p style="margin: 0">Price: {{ animal.purchase_cost }}</p>
    <p style="margin: 0">Age: {{ animal.dob|animal_age }}</p>
    <div style="display: flex; justify-content: space-between; margin-top: 10px; margin-left: 15px">
      <span style="display: inline-block; width: 30%; height: 25px; border: 1px solid #33a137; color: #33a137; line-height: 25px; text-align: center; border-radius: 6px">{{ animal.sex|capfirst }}</span>
      <span style="display: inline-block; width: 30%; height: 25px; border: 1px solid #33a137; color: #33a137; line-height: 25px; text-align: center; border-radius: 6px">{{ animal.status|capfirst }}</span>
      <span style="display: inline-block; width: 30%; height: 25px; border: 1px solid #33a137; color: #33a137; line-height: 25px; text-align: center; border-radius: 6px">{{ animal.animal_type|capfirst}}</span>
    </div>
  </div>
</div>

<!-- Delete Animal Modal -->
<div class="modal fade" id="deleteAnimalModal{{ animal.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteAnimalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <h5 class="modal-title" id="deleteAnimalModalLabel">Delete Animal</h5>
        <p>Are you sure you want to delete this animal?</p>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <div class="button-box">
          <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
          <button id="confirm-delete-animal-button{{ animal.pk }}" class="btn btn--yes btn-primary">Yes, delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  $(document).ready(function () {
      var csrftoken = getCookie('csrftoken');  // Fetch CSRF token using the function defined above
      {% for animal in page_obj %}
      $("#confirm-delete-animal-button{{ animal.pk }}").click(function () {
        console.log('Button clicked');
          $.ajax({
              url: "{% url 'dairy:delete_animal' animal.pk %}",
              method: "POST",
              beforeSend: function (xhr) {
                  xhr.setRequestHeader("X-CSRFToken", csrftoken);
              },
              success: function (response) {
                  if(response.success) {
                      // Handle success response (e.g., remove the deleted animal from the page)
                      $("#deleteAnimalModal{{ animal.pk }}").modal("hide");
                      // Reload the animal list page
                      window.location.href = "{% url 'dairy:animal_list' %}";
                  }
              },
              error: function (xhr) {
                  // Handle error response (if needed)
                  console.log(xhr.responseText);
              }
          });
      });
      {% endfor %}
  });
</script>
