<div class="tab-content " id="myTabContent">
  <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-sm-4">Title:</div>
        <div class="col-sm-8">I Phone Pro</div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">Brand:</div>
        <div class="col-sm-8">Apple</div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">Price:</div>
        <div class="col-sm-8">560$</div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">Status:</div>
        <div class="col-sm-8">New</div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">Memory:</div>
        <div class="col-sm-8">5GB, 10GB, 20GB</div>
      </div>
    </div>
  </div>
</div>
</div>
