{% load dairy_extras %}
<div class="row">
  {% for animal in page_obj %}
  <div class="col-lg-6">
    <div class="media mb-4 align-items-center">
      {% if animal.image %}
      <img class="rounded mr-3 food-img" src="{{ animal.image.url }}" alt="{{ animal.tag }}" style="width: 130px; height: 100px; border-radius: 20px" />
      {% else %}
      <!-- fallback image or other content goes here -->
      {% endif %}

      <div class="media-body">
        <h5 class="mb-sm-4 mb-3"><a class="text-black" href="{% url 'dairy:animal_detail' animal.pk %}">{{ animal.tag }}--{{ animal.get_sex_display }}</a></h5>
        <div class="d-flex mb-2">
          <svg class="mr-2" width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.500488" width="2.04545" height="15" rx="1.02273" fill="#EA7A9A"></rect>
            <rect x="4.59131" y="4.09082" width="2.04545" height="10.9091" rx="1.02273" fill="#EA7A9A"></rect>
            <rect x="8.68213" y="10.2271" width="2.04545" height="4.77273" rx="1.02273" fill="#EA7A9A"></rect>
            <rect x="12.7729" y="2.04541" width="2.04545" height="12.9545" rx="1.02273" fill="#EA7A9A"></rect>
          </svg>
          <span class="fs-14 text-black"><strong class="mr-1">{{ animal.dob|animal_age }}</strong></span>
        </div>
        <div class="star-review2 d-flex align-items-center flex-wrap fs-12">
          <div class="info-div category-title-div">{{ animal.category.title }}</div>

          <div class="info-div animal-type-display-div">{{ animal.get_animal_type_display }}</div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
