{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <!-- tap on top start -->
    <div class="tap-top">
      <span class="lnr lnr-chevron-up"></span>
    </div>
    <!-- tap on tap end -->

    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      {%include 'dairy/backend_header.html' %}
      <!-- Page Header Ends-->

      <!-- Page Body Start -->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        {%include 'dairy/backend_sidebar.html' %}
        <!-- Page Sidebar Ends-->

        <!-- Container-fluid starts-->
        <div class="page-body">
          <!-- All User Table Start -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="card card-table">
                  <div class="card-body">
                    <div class="title-header option-title">
                      <h5>All Category</h5>
                      <form class="d-inline-flex">
                        <a
                          href="{%url 'dairy:animal_category_create'%}"
                          class="align-items-center btn btn-theme d-flex"
                        >
                          <i data-feather="plus-square"></i>Add New
                        </a>
                      </form>
                    </div>

                    <div class="table-responsive category-table">
                      <div>
                        <table
                          class="table all-package theme-table"
                          id="table_id"
                        >
                          <thead>
                            <tr>
                              <th>Category Name</th>
                              <th>Product Image</th>
                              <th>Slug</th>
                              <th>Option</th>
                            </tr>
                          </thead>

                          <tbody>
                            {% for category in categories %}
                            <tr>
                              <td>{{ category.title }}</td>

                              <td>
                                <div class="table-image">
                                  {% if category.category_image %}
                                  <img
                                    src="{{ category.category_image.url }}"
                                    class="img-fluid"
                                    alt=""
                                  />
                                  {% else %}
                                  <p>No image available</p>
                                  {% endif %}
                                </div>
                              </td>

                              <td>{{ category.slug }}</td>
                              <td>
                                <ul>
                                  <li>
                                    <a href="#">
                                      <i class="ri-eye-line"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a
                                      href="{% url 'dairy:animal_category_delete' category.id %}"
                                    >
                                      <i class="ri-pencil-line"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a
                                      href="#"
                                      class="delete-button"
                                      data-id="{{ category.id }}"
                                    >
                                      <i class="ri-delete-bin-line"></i>
                                    </a>
                                  </li>
                                </ul>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- All User Table Ends-->

          <div class="container-fluid">
            <!-- footer start-->
            <footer class="footer">
              <div class="row">
                <div class="col-md-12 footer-copyright text-center">
                  <p class="mb-0">
                    Copyright 2022 © Fastkart theme by pixelstrap
                  </p>
                </div>
              </div>
            </footer>
            <!-- footer end-->
          </div>
        </div>
        <!-- Container-fluid end -->
      </div>
      <!-- Page Body End -->

      <!-- Modal Start -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <h5 class="modal-title" id="staticBackdropLabel">Logging Out</h5>
              <p>Are you sure you want to log out?</p>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
              <div class="button-box">
                <button
                  type="button"
                  class="btn btn--no"
                  data-bs-dismiss="modal"
                >
                  No
                </button>
                <button type="button" class="btn btn--yes btn-primary">
                  Yes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal End -->
    </div>

    <!-- Delete Modal Box Start -->
    <div
      class="modal fade theme-modal remove-coupon"
      id="exampleModalToggle"
      aria-hidden="true"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header d-block text-center">
            <h5 class="modal-title w-100" id="exampleModalLabel22">
              Are You Sure ?
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="remove-box">
              <p>
                The permission for the use/group, preview is inherited from the
                object, object will create a new permission for this object
              </p>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-animation btn-md fw-bold"
              data-bs-dismiss="modal"
            >
              No
            </button>
            <button
              type="button"
              class="btn btn-animation btn-md fw-bold"
              id="confirm-delete-button"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade theme-modal remove-coupon"
      id="exampleModalToggle2"
      aria-hidden="true"
      tabindex="-1"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-center" id="exampleModalLabel12">
              Done!
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
          <div class="modal-body">
            <div class="remove-box text-center">
              <div class="wrapper">
                <svg
                  class="checkmark"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 52 52"
                >
                  <circle
                    class="checkmark__circle"
                    cx="26"
                    cy="26"
                    r="25"
                    fill="none"
                  />
                  <path
                    class="checkmark__check"
                    fill="none"
                    d="M14.1 27.2l7.1 7.2 16.7-16.8"
                  />
                </svg>
              </div>
              <h4 class="text-content">It's Removed.</h4>
            </div>
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    {% block scripts %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const deleteButtons = document.querySelectorAll(".delete-button");
        deleteButtons.forEach((button) => {
          button.addEventListener("click", function (e) {
            e.preventDefault();
            const categoryId = button.getAttribute("data-id");
            const confirmButton = document.getElementById(
              "confirm-delete-button"
            );
            confirmButton.setAttribute("data-id", categoryId);
            const deleteModal = new bootstrap.Modal(
              document.getElementById("exampleModalToggle"),
              {}
            );
            deleteModal.show();
          });
        });

        const confirmButton = document.getElementById("confirm-delete-button");
        confirmButton.addEventListener("click", function () {
          const categoryId = confirmButton.getAttribute("data-id");
          const deleteUrl = `{% url 'dairy:animalcategory_delete' 0 %}`.replace(
            "0",
            categoryId
          );
          window.location.href = deleteUrl;
        });
      });
    </script>
    {% endblock %}

    <!-- Delete Modal Box End -->
  </body>
</html>
{% endblock %}
