<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
<hr />

<div class="row">
  <div class="col-lg-12">
    <div class="main-box no-header clearfix">
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table user-list">
            <tbody>
              {% if animal.father %}
              <tr>
                <td>
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" />
                  <a href="#" class="user-link">{{ animal.father.tag }}</a>
                  <span class="user-subhead">Father</span>
                </td>
                <td>
                  <ul>
                    <li>
                      <a href="{% url 'dairy:update_parents' animal.pk %}">
                        <i class="ri-pencil-line"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" data-bs-toggle="modal" data-bs-target="#deleteRelationModal" data-relation-id="{{ animal.father.pk }}">
                        <i class="ri-delete-bin-line"></i>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
              {% endif %} {% if animal.mother %}
              <tr>
                <td>
                  <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" />
                  <a href="#" class="user-link">{{ animal.mother.tag }}</a>
                  <span class="user-subhead">Mother</span>
                </td>
                <td>
                  <ul>
                    <li>
                      <a href="{% url 'dairy:update_parents' animal.pk %}">
                        <i class="ri-pencil-line"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#" data-bs-toggle="modal" data-bs-target="#deleteRelationModal" data-relation-id="{{ animal.mother.pk }}">
                        <i class="ri-delete-bin-line"></i>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
              {% endif %}{% for child in animal.children_mother.all %}
              <tr>
                <td>
                  <img src="{{ child.image.url }}" alt="" />
                  <a href="#" class="user-link">{{ child.tag }}</a>
                  <span class="user-subhead">Child</span>
                </td>
                <td>...</td>
              </tr>
              {% endfor %} {% for child in animal.children_father.all %}
              <tr>
                <td>
                  <img src="{{ child.image.url }}" alt="" />
                  <a href="#" class="user-link">{{ child.tag }}</a>
                  <span class="user-subhead">Child</span>
                </td>
              </tr>
              {% endfor %} {% for sibling in animal.siblings.all %}
              <tr>
                <td>
                  <img src="{{ sibling.image.url }}" alt="" />
                  <a href="#" class="user-link">{{ sibling.tag }}</a>
                  <span class="user-subhead">Siblings</span>
                </td>
                <td>...</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
