{%extends 'main/base.html'%} {%block content%} {%load static%}
<!-- tap on top start -->
<div class="tap-top">
  <span class="lnr lnr-chevron-up"></span>
</div>
<!-- tap on tap end -->
<!-- page-wrapper Start-->
<div class="page-wrapper compact-wrapper" id="pageWrapper">
  <!-- Page Header Start-->
  {%include 'home/backend_header.html'%}
  <!-- Page Header Ends-->
  <!-- mobile fix menu start -->
  {%include 'home/mobile_menu.html'%}
  <!-- mobile fix menu end -->
  <!-- Page Body Start-->
  <div class="page-body-wrapper">
    <!-- Page Sidebar Start-->
    {%include 'home/backend_sidebar.html'%}
    <!-- Page Sidebar Ends-->
    <!-- Page Body Start -->
    <!-- Container-fluid starts-->
    <div class="page-body">
      <!-- All User Table Start -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-table">
              <div class="card-body">
                <div class="title-header option-title">
                  <h5>All Category</h5>
                  <form class="d-inline-flex">
                    <a href="{% url 'dairy:animal_category_create' %}" class="align-items-center btn btn-add-category d-flex" style="background-color: green; color: white; padding: 5px 10px; border-radius: 3px"> Add Category </a>
                  </form>
                </div>

                <div class="table-responsive category-table">
                  <div>
                    <table class="table all-package theme-table" id="table_id">
                      <thead>
                        <tr>
                          <th>Product Name</th>

                          <th>Product Image</th>

                          <th>Slug</th>
                          <th>Option</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for category in categories %}
                        <tr>
                          <td>{{ category.title }}</td>

                          <td>
                            <div class="table-image">
                              <img src="{{ category.image.url }}" class="img-fluid" alt="" />
                            </div>
                          </td>

                          <td>{{ category.slug }}</td>

                          <td>
                            <ul>
                              <li>
                                <a href="{% url 'dairy:animal_category_edit' category.pk %}">
                                  <i class="ri-pencil-line"></i>
                                </a>
                              </li>

                              <li>
                                <form method="post" action="{% url 'dairy:animal_category_delete' category.pk %}" class="delete-form" id="delete-form-{{ category.pk }}" data-delete-url="{% url 'dairy:animal_category_delete' category.pk %}">
                                  {% csrf_token %}
                                  <button type="submit" class="delete-btn border-0 bg-transparent" style="display: none"></button>
                                  <i class="ri-delete-bin-line" style="cursor: pointer"></i>
                                </form>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- All User Table Ends-->

      <div class="container-fluid">
        <!-- footer start-->
        <footer class="footer">
          <div class="row">
            <div class="col-md-12 footer-copyright text-center">
              <p class="mb-0">Copyright 2022 © Fastkart theme by pixelstrap</p>
            </div>
          </div>
        </footer>
        <!-- footer end-->
      </div>
    </div>
    <!-- Container-fluid end -->
    <!-- Page Body End -->
  </div>
  <!-- Page Body End -->
</div>
<!-- page-wrapper End-->
<!-- Modal Start -->

{%endblock%}
