.btn-form {
  margin-right: 20px; /* Adjust the value to increase/decrease space between the buttons */
  width: 150px; /* Adjust the width as needed */
}

.btn-primary {
  background-color: #0da487;
}
.status-active span {
    background-color: greenish;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
}

.status-danger span {
    background-color: redish;
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
}

.status-warning span {
    background-color: yellow;
    color: black;
    padding: 2px 6px;
    border-radius: 4px;
}

