{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="my-4">Add Weight Record for {{ animal.name }}</h1>

            <form method="post" action="{% url 'dairy_farm:add_weight' animal.id %}" onsubmit="alert('Form submitted');">

                {% csrf_token %}

                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" name="date" id="date" value="{{ form.date.value|default:'' }}" required>
                </div>

                <div class="form-group">
                    <label for="weight">Weight (KGs)</label>
                    <input type="number" step="0.01" class="form-control" name="weight" id="weight" value="{{ form.weight.value|default:'' }}" required>
                </div>

                <button type="submit" class="btn btn-primary">Add Weight Record</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
