{% extends "home/base.html" %}
{% load age_filters %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
</head>

<body>

    <!-- Loader Start -->
    <div class="fullpage-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <!-- Loader End -->

    <!-- Header Start -->

    <!-- Header End -->

    <!-- mobile fix menu start -->
    {% include 'home/mobile_menu.html' %}
    <!-- mobile fix menu end -->

    <!-- Breadcrumb Section Start -->

    <!-- Breadcrumb Section End -->

    <!-- Product Left Sidebar Start -->
    <section class="product-section">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-9 col-xl-8 col-lg-7 wow fadeInUp">
                    <div class="row g-4">
                        <div class="col-xl-6 wow fadeInUp">
                            <div class="product-left-box">
                                <div class="row g-2">
                                    <div class="col-xxl-10 col-lg-12 col-md-10 order-xxl-2 order-lg-1 order-md-2">
                                        <div class="product-main-2 no-arrow">
                                            <div>
                                                <div class="slider-image">
                                                    <img src="{{ farm.image.url|default:'path/to/default/image.jpg' }}" id="img-1"
                                                        data-zoom-image="{{ farm.image.url|default:'path/to/default/image.jpg' }}"
                                                        class="img-fluid image_zoom_cls-0 blur-up lazyload" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-2 col-lg-12 col-md-2 order-xxl-1 order-lg-2 order-md-1">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="right-box-contain">
                                <h2 class="name">{{ farm.name }}</h2>
                                <h3 class="theme-color price">Location: {{ farm.location }}</h3>


                                <div class="product-packege">
                                    <div class="product-title">
                                        <h4>{{ animal.category }}</h4>
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
                        <div class="col-12">
                            <div class="product-section-box">
                                <ul class="nav nav-tabs custom-nav" id="myTab" role="tablist">
                        
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="info-tab" data-bs-toggle="tab"
                                            data-bs-target="#info" type="button" role="tab" aria-controls="info"
                                            aria-selected="false"> Farm Info</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="description-tab" data-bs-toggle="tab"
                                            data-bs-target="#description" type="button" role="tab"
                                            aria-controls="description" aria-selected="true">Description</button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="members-tab" data-bs-toggle="tab"
                                            data-bs-target="#members" type="button" role="tab"
                                            aria-controls="members" aria-selected="false">All Members</button>
                                            </li>
                                            </ul>
                                            <div class="tab-content custom-tab" id="myTabContent">
                                                <div class="tab-pane fade show active" id="description" role="tabpanel"
                                                    aria-labelledby="description-tab">
                                                    <!-- Description content here -->
                                                </div>
                                    
                                                <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                                                    <div class="table-responsive">
                                                        <table class="table info-table">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Size</td>
                                                                    <td>{{ farm.size }} Animals</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Owner</td>
                                                                    <td>{{ farm.owner }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Contact</td>
                                                                    <td>{{ farm.contact }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Address</td>
                                                                    <td>{{ farm.address }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                    
                                                <div class="tab-pane fade" id="members" role="tabpanel" aria-labelledby="members-tab">
                                                    <div class="table-responsive">
                                                        <a href="{% url 'dairy_farm:add_member_page' farm_id=farm.id %}" class="btn btn-primary">
                                                            Add Member
                                                        </a>
                                                        <table class="table members-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Age</th>
                                                                    <th>Role</th>
                                                                    <th>Contact</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for member in farm.members.all %}
                                                                <tr>
                                                                    <td>{{ member.name }}</td>
                                                                    <td>{{ member.age }}</td>
                                                                    <td>{{ member.role }}</td>
                                                                    <td>{{ member.contact }}</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                    
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                
                        </div>
                    </div>
                </section>
                
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
                <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
                
                <script>
                    $(document).ready(function () {
                        $('#milk-record-table').DataTable({
                            "order": [[0, "desc"]]
                        });
                    });
                </script>
                </body>
                </html>
                {% endblock %}
                
